@media screen and (max-width: 420px) {
  .top-header {
    margin-bottom: -10px;
  }

  .discount-container {
    height: auto;
    text-align: center;
    flex-direction: column;
    padding: 5px 10px;
    font-size: 13px;
  }

  .top-header .middle-header-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 0px 5px;
  }

  .logo-search-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .logo-search-container .logo {
    margin-right: 10px;
  }

  .search-container {
    position: relative;
    width: 100%;
  }

  .search-input {
    width: 100%;
    height: 35px;
    font-weight: 700;
  }

  .user-greeting {
    display: none;
  }

  .shopping-cart {
    position: absolute;
    right: 20px;
    top: 2px;
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  .main-nav {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    left: 0px;
    top: 2px;
    width: 35px;
    height: 23px;
  }

  .menu-icon line {
    stroke-width: 1.2;
  }

  .hero-container {
    width: 100%;
    gap: 0px;
  }

  .hero-image {
    width: 50%;
  }

  .hero-image img {
    margin-left: -95%;
    mask-image: linear-gradient(to left, transparent 0%, black 22%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 22%);
  }

  .hero-title {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
  }

  .hero-text {
    transform: scale(0.9);
    text-align: center;
  }

  .hero-subtitle {
    white-space: nowrap;
    font-size: 11px;
    letter-spacing: -0.5px;
  }

  .hero-subtitle span {
    line-height: 1.8;
    font-size: 35px;
  }

  .new-arrivals {
    width: 90%;
  }

  .carousel-container {
    overflow: auto;
    margin-bottom: 100px;
    scrollbar-width: none;
  }

  .new-arrivals .card {
    flex: 0 0 49%;
  }

  .carousel-btn {
    display: none;
  }

  .media-text {
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  .hero-image img {
    margin-left: -110%;
  }

  .hero-text {
    transform: scale(0.8);
  }

  .hero-subtitle {
    font-size: 12px;
  }
}